{extend name='base'/}
{block name='left'}
<div class="neiyeL">
    <div class="banL noel">
        <div class="yuyue">
            <p><a href="#"><img src="__STATIC__/home/text/1.gif" width="232" height="213" alt="" />
                中江瓜蒌</a></p>
            <p><a href="#" class="yuyue_a"></a></p>
        </div>
    </div>

    <div class="banL noel">
        <div class="hezuo_top" style="padding:0px 75px;background: #FBAE2F;border-radius: 3px"><h3 style="line-height:2;color:whitesmoke;"><a href="{:url('home/infor/inquiry')}"> 我要求购</a></h3></div>
    </div>

    <div class="hezuo">
        <div class="hezuo_top">推荐合作单位</div>
        <div class="hezuo_text">
            <ul>
                <li><a href="#"><img src="__STATIC__/home/text/9.gif" width="206" height="60" alt="" /></a></li>
                <li><a href="#"><img src="__STATIC__/home/text/10.gif" width="206" height="60" alt="" /></a></li>
                <li><a href="#"><img src="__STATIC__/home/text/11.gif" width="206" height="60" alt="" /></a></li>
                <li><a href="#"><img src="__STATIC__/home/text/12.gif" width="206" height="60" alt="" /></a></li>
                <li><a href="#"><img src="__STATIC__/home/text/13.gif" width="206" height="60" alt="" /></a></li>
            </ul>
        </div>
    </div>
</div>
{/block}
{block name='right'}
<div class="neiyeR">
    <div class="neiBT">
        <span class="mianT_span">行业信息 | INFORMATION </span>
    </div>
    <div class="neiText">
        <div class="neiIfino">
            <ul>
                <li class="neiNt l">全部分类</li>
               {foreach name='$categorys' item='vo'}
                <li class="r"><a href="{:url('deal/index',['id'=>$vo.id])}" class="{if $category.id eq $vo.id}xuanz{/if}">{$vo.name}</a>|</li>
                {/foreach}
            </ul>
        </div>
        <div class="tuwenli clearfix">
            <ul>
               {foreach name='$deal' item='vo'}
                <li>
                    <p><a href="{:url('proinfo/index',['id'=>$vo.id])}"><img src="{$vo.image}" width="208" height="177" alt="" /> {$vo.name}</a></p>
                    <p><a href="{:url('proinfo/index',['id'=>$vo.id])}" class="yuyue_a"></a></p>
                </li>
                {/foreach}
            </ul>
        </div>
        <div class="feiye">
            <ul>
                <li><input type="submit" value="确定" class="feiye_ban" />
                <li>到第<input name="" type="text" class="feiye_ingp" />页</li>
                <li><a href="#">下一页</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#" class="xuanz">1</a></li>
                <li><a href="#" class="feiye_hs">上一页</a></li>
                </li>
            </ul>
        </div>
    </div>
</div>
{/block}