{include file='public/header'/}

<section style="overflow: hidden;padding:20px">
<div >
    <form action="{:url('category/add')}" method="post" class="form form-horizontal" id="form-category-add">
        <div id="tab-category" class="HuiTab">
            <div class="tabCon1">
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>分类名称：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text" value="{$category.name}"   name="name">
                    </div>
                    <div class="col-3"> </div>
                </div>

                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>上级栏目：</label>
                    <div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
							<select class="select" id="sel_Sub" name="parent_id">
                                <option value="0">顶级分类</option>
                            </select>
							</span> </div>
                    <div class="col-3"> </div>
                </div>

                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3">所属栏目：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                       <span class="select-box">
							<select class="select"  name="type">
                                <option value="0">--请选择--</option>
                                <option value="1">特产类</option>
                                <option value="2">资讯类</option>
                            </select>
							</span>
                    </div>

                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3">排序：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text" value="{$category.listorder}"   name="listorder">
                        <input type="hidden" class="input-text" value="{$category.id}"   name="id">
                    </div>
                    <div class="col-3"> </div>
                </div>


            </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>
        </div>
    </form>
</div></section>
{include file='public/footer'/}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">

</script>
<!--/请在上方写此页面业务相关的脚本-->

</body>
</html>