{include file='public/header'/}

<section style="overflow: hidden;padding:20px">
    <div >
        <form action="" method="post" class="form form-horizontal" id="form-category-add">
            <div id="tab-category" class="HuiTab">
                <div class="tabCon1">
                    <div class="row cl">
                        <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>上级栏目：</label>
                        <div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
							<select class="select" id="sel_Sub" name="sel_Sub" onchange="SetSubID(this);">
                                <option value="0">顶级分类</option>
                                <option value="10">分类一级</option>
                                <option value="101">&nbsp;&nbsp;├ 分类二级</option>
                                <option value="102">&nbsp;&nbsp;├ 分类二级</option>
                                <option value="20">分类一级</option>
                                <option value="200">&nbsp;&nbsp;├ 分类二级</option>
                            </select>
							</span> </div>
                        <div class="col-3"> </div>
                    </div>
                    <div class="row cl">
                        <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>分类名称：</label>
                        <div class="formControls col-xs-8 col-sm-9">
                            <input type="text" class="input-text" value="" placeholder=""  name="">
                        </div>
                        <div class="col-3"> </div>
                    </div>
                    <div class="row cl">
                        <label class="form-label col-xs-4 col-sm-3">别名：</label>
                        <div class="formControls col-xs-8 col-sm-9">
                            <input type="text" class="input-text" value="" placeholder=""  name="">
                        </div>
                        <div class="col-3"> </div>
                    </div>
                    <div class="row cl">
                        <label class="form-label col-xs-4 col-sm-3">目录：</label>
                        <div class="formControls col-xs-8 col-sm-9">
                            <input type="text" class="input-text" value="" placeholder=""  name="">
                        </div>
                        <div class="col-3"> </div>
                    </div>
                    <div class="row cl">
                        <label class="form-label col-xs-4 col-sm-3">内容类型：</label>
                        <div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
							<select name="" class="select">
                                <option value="1">文章</option>
                                <option value="2">图片</option>
                                <option value="3">商品</option>
                                <option value="4">视频</option>
                                <option value="5">专题</option>
                                <option value="6">链接</option>
                            </select>
							</span> </div>
                        <div class="col-3"> </div>
                    </div>

                </div>
                <div class="row cl">
                    <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                        <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
                    </div>
                </div>
            </div>
        </form>
    </div></section>
{include file='public/footer'/}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">

</script>
<!--/请在上方写此页面业务相关的脚本-->

</body>
</html>