{extend name='base'/}
{block name='top'}
<div class="banner">
    <div class="banL">
        <div class="yuyue">
            <p><a href="#"><img src="{$hotdeal.image}" width="232" height="213" alt="" />
                {$hotdeal.name}</a></p>
            <p><a href="#" class="yuyue_a"></a></p>
        </div>
    </div>
    <div class="banR">
        <div class="banR_pt">
            <a href="#"><img src="__STATIC__/home/text/2.gif" width="736" height="274" alt="" /></a>            </div>
        <div class="banR_anl">
            <a href="#"></a>
            <a href="#" class="xuanz"></a>
            <a href="#"></a>
        </div>
    </div>
</div>
{/block}
{block name='left'}
<div class="mian">
    <div class="mianL">
        <div class="mianTop">
            <span class="mianT_span">特产一览│SPECIALTIES LIST</span>
            <a href="#">更多&gt;&gt;</a>
        </div>
        <div class="mianText">
            <ul>
                {foreach name='$deals' item='vo'}
                <li>
                    <p><a href="{:url('proinfo/index',['id'=>$vo.id])}"><img src="{$vo.image}" width="208" height="177" alt="" /> {$vo.name}</a></p>
                    <p><a href="{:url('proinfo/index',['id'=>$vo.id])}" class="yuyue_a"></a></p>
                </li>
                {/foreach}
            </ul>
        </div>
    </div>
    <div class="mianR">
        <div class="hezuo">
            <div class="hezuo_top">推荐合作单位</div>
            <div class="hezuo_text">
                <ul>
                    <li><a href="#"><img src="__STATIC__/home/text/9.gif" width="206" height="60" alt="" /></a></li>
                    <li><a href="#"><img src="__STATIC__/home/text/10.gif" width="206" height="60" alt="" /></a></li>
                    <li><a href="#"><img src="__STATIC__/home/text/11.gif" width="206" height="60" alt="" /></a></li>
                    <li><a href="#"><img src="__STATIC__/home/text/12.gif" width="206" height="60" alt="" /></a></li>
                    <li><a href="#"><img src="__STATIC__/home/text/13.gif" width="206" height="60" alt="" /></a></li>
                </ul>
            </div>
        </div>
        <div class="hezAd">
            <img src="__STATIC__/home/text/14.gif" />
            <a href="#" class="hezL01"></a>
            <a href="#" class="hezL02"></a>
        </div>
    </div>
</div>
{/block}
{block name='right'}
<div class="mian3">
    <div class="mian3_top">
        <span class="mianT_span">资讯& 商机│IT & BUSINESS</span>
    </div>
    <div class="mian3_text">
        <div class="gonggao">
            <div class="gonggao_top">最新交易公告</div>
            <div class="gonggao_text">
                <ul>
                    {foreach name='$news' item='vo'}
                    <li><a href="#">&middot;{$vo.title}</a></li>
                    {/foreach}
                </ul>
            </div>
        </div>
        <div class="xiangx">
            <div class="xiangx_top">
                <a href="#" class="r">更多&gt;&gt;</a>
                <span class="xian_span">最新信息</span>
            </div>
            <div class="xiangx_text">
                <div class="xian_img">
                    <a href="#"><img src="__STATIC__/home/text/15.gif" width="139" height="112" alt="" /></a>                    </div>
                <div class="xianWZ">
                    <ul>
                        {foreach name='$newsn' item='vo'}
                        <li><a href="">&middot;{$vo.title}</a></li>
                        {/foreach}
                    </ul>
                </div>
            </div>
        </div>
        <div class="xiangx">
            <div class="xiangx_top">
                <a href="#" class="r">更多&gt;&gt;</a>
                <span class="xian_span">行业快讯</span>
            </div>
            <div class="xiangx_text">
                <div class="xian_img">
                    <a href="#"><img src="__STATIC__/home/text/15.gif" width="139" height="112" alt="" /></a>                    </div>
                <div class="xianWZ">
                    <ul>
                        {foreach name='$newso' item='vo'}
                        <li><a href="#">&middot;{$vo.title}</a></li>
                        {/foreach}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}