{extend name='base'/}
{block name='left'}
<div class="neiyeL">
    <div class="banL noel">
        <div class="yuyue">
            <p><a href="#"><img src="__STATIC__/home/text/1.gif" width="232" height="213" alt="" />
                中江瓜蒌</a></p>
            <p><a href="#" class="yuyue_a"></a></p>
        </div>
    </div>
    <div class="hezuo">
        <div class="hezuo_top">推荐合作单位</div>
        <div class="hezuo_text">
            <ul>
                <li><a href="#"><img src="__STATIC__/home/text/9.gif" width="206" height="60" alt="" /></a></li>
                <li><a href="#"><img src="__STATIC__/home/text/10.gif" width="206" height="60" alt="" /></a></li>
                <li><a href="#"><img src="__STATIC__/home/text/11.gif" width="206" height="60" alt="" /></a></li>
                <li><a href="#"><img src="__STATIC__/home/text/12.gif" width="206" height="60" alt="" /></a></li>
                <li><a href="#"><img src="__STATIC__/home/text/13.gif" width="206" height="60" alt="" /></a></li>
            </ul>
        </div>
    </div>
</div>
{/block}
{block name='right'}
<div class="neiyeR">
    <div class="neiBT">
        <span class="mianT_span">留言反馈 | FEEDBACK </span>
    </div>
    <div class="feedbck">
        <form action="{:url('infor/contact')}" method="post">
            <div class="feedb_top">
                <div class="feedb_bate">
                    <table width="200" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td height="44" class="feedb_td">联系人：</td>
                            <td><input name="contact" type="text" class="feedb_input" /><span class="feedb_span">*</span></td>
                        </tr>
                        <tr>
                            <td height="44" class="feedb_td">联系电话：</td>
                            <td><input name="mobile" type="text"  class="feedb_input"/><span class="feedb_span">*</span></td>
                        </tr>
                        <tr>
                            <td class="feedb_td">内容：</td>
                            <td><textarea name="content" cols="" rows="" class="feedb_tarea"></textarea></td>
                        </tr>
                    </table>

                </div>
                <div class="feedb_tetx">
                    <!--<input type="submit" class="feedb_annl" value="提交" />-->
                    <p>提交</p>
                </div>
            </div>
        </form>
        <div class="feed_deta">
            <div class="feed_xia">
                <div class="feBt">
                    <p class="cb4">Date:2013-09-02 02:20</p>
                    <p>请问我要来加盟你们怎么操作呢？</p>
                </div>
                <div class="feed_xtex">
                    回答：您好，感谢您的询问!入驻我们这边需要您联系我们的客服团队客户团队联系电话是：028-8568-8888.时间9：:0-18:00<br />
                    都有客服接您电话的。                        </div>
            </div>
            <div class="feed_xia">
                <div class="feBt">
                    <p class="cb4">Date:2013-09-02 02:20</p>
                    <p>请问我要来加盟你们怎么操作呢？</p>
                </div>
                <div class="feed_xtex">
                    回答：您好，感谢您的询问!入驻我们这边需要您联系我们的客服团队客户团队联系电话是：028-8568-8888.时间9：:0-18:00<br />
                    都有客服接您电话的。                        </div>
            </div>
        </div>
        <div class="feiye">
            <ul>
                <li><input type="submit" value="确定" class="feiye_ban" />
                <li>到第<input name="" type="text" class="feiye_ingp" />页</li>
                <li><a href="#">下一页</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#" class="xuanz">1</a></li>
                <li><a href="#" class="feiye_hs">上一页</a></li>
                </li>
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript" src="__STATIC__/admin/hui/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__STATIC__/admin/hui/lib/layer/2.1/layer.js"></script>

<script type="text/javascript">
    $(".feedb_tetx").click(function () {


        var url="{:url('api/smasge/index')}";
        var mobile="18200358529";
        var code="589632";
        var postdata={
            'mobile':mobile,
            'code':code,
        }
       // alert(url);
        $.post(url,postdata,function (result) {
                 alert(result);
        },'json');


    });
</script>
{/block}