/*
基础CSS(公用)
先统一标签样式，再定义常用样式
*/


/*=======================================================
	统一标签样式
=========================================================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, caption, tbody, tfoot, thead, tr, th,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video { margin:0px; padding:0px; border:none; }

/* 统一老式浏览器HTML5显示 */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { display: block;}
body{ font:12px/22px Arial, Helvetica, sans-serif; color:#666; background:#EAEBEF url(../images/bg_01.gif) repeat-x;}
table {	border-collapse: collapse;	border-spacing: 0;}


/* 选择文字时 */
::-moz-selection { background: #59a9ff; color: #fff; text-shadow: none; }
::selection { background: #59a9ff; color: #fff; text-shadow: none; }

/* H1 - H6 */
h1 { margin-top: 8px; line-height: 1px; margin-bottom: 4px; font-size: 35px;}
h2 { margin-top: 8px; line-height: 1px; margin-bottom: 4px; font-size: 30px;}
h3 { margin-top: 8px; line-height: 1px; margin-bottom: 4px; font-size: 25px;}
h4 { margin-top: 8px; line-height: 1px; margin-bottom: 4px; font-size: 20px;}
h5 {font-weight:bold; line-height: 1px; margin-bottom: 4px; font-size: 15px;}
h6 {font-weight:bold; line-height: 1px; margin-bottom: 4px; font-size: 11px;}

/* 外间距（顶部） */
.mt0 { margin-top:0px; }
.mt4 { margin-top:4px; }
.mt5 { margin-top:5px; }
.mt6 { margin-top:6px; }
.mt8 { margin-top:8px; }
.mt10 { margin-top:10px; }
.mt14 { margin-top:14px; }
.mt15 { margin-top:15px; }
.mt16 { margin-top:16px; }
.mt20 { margin-top:20px; }
/* 外间距（右侧） */
.mr0 { margin-right:0px; }
.mr10 { margin-right:10px; }
.mr14 { margin-right:14px; }
.mr20 { margin-right:20px; }
/* 外间距（底部） */
.mb0 { margin-bottom:0px; }
.mb14{ margin-bottom:14px;}
.mb15{ margin-bottom:40px;}
/* 外间距（左侧） */
.ml0 { margin-left:0px; }

/* 内间距（顶部） */
.pt2 { padding-top:2px; }
.pt4 { padding-top:4px; }
.pt6 { padding-top:6px; }
.pt8 { padding-top:8px; }
.pt10 { padding-top:10px; }
.pt12 { padding-top:12px; }
.pt14 { padding-top:14px; }
.pt16 { padding-top:16px; }
.pt145 { padding-top:145px; }
/* 内间距（右侧） */
/* 内间距（底部） */
/* 内间距（左侧） */
.pl10 { padding-left:10px;}
.pl20 { padding-left:20px;}

.ptb10{ padding:10px 0;}

/* 居中 */
.cent{ margin:0 auto;}

/* 显示或隐藏 */
.block { display:block; }
.none { display:none; }

/* 文字对齐 */
.tl { text-align:left; }
.tc { text-align:center; }
.tr { text-align:right; }

/* 连接 */
a {  color:#666; text-decoration: none;}

/* 浮动块 */
.l { float:left; }
.r { float:right; }
/*清除浮动*/
.clearfix:after{display:block;clear:both;content:"";visibility:hidden;height:0;}
.clearfix{zoom:1}

/* 文字颜色 */
.cccc { color:#ccc; }
.caaa { color:#aaa;}
.cf97 { color:#ffff97;}
.cf00{ color:#051300;}
.cb4 { color:#B4B4B4;}

/*=========================================
	定义圆角
=========================================*/
.r3px{ -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}
.r4px{ -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;}
.r10px{ -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;}
.r5px{ -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
.floatright{ float:right;}
/*=========================================
	定义图片居中
=========================================*/
.pic_wrap { display: table-cell; vertical-align: middle; width: 50px; height: 41px; float:left; text-align: center;/*ie6、7不支持display:table-cell*/*display: block; *font-size: 36px; +line-height: 41px; /*设置ie7中空文本节点行高为220px*/ *font-family: Arial;
}
.pic_wrap img { vertical-align: middle; margin:0 auto;/*由于ie中有默认高度的空文本节点*/}

/*切换卡内容层默认隐藏*/
.tabsInfo{ display:none;}

/*全局居中*/
.centBox{ margin:0 auto; width:1000px; margin:0 auto;  }

/*透明边框*/
.opacityBor{ background:rgba(204,204,204,.5); background:none\9; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#70CCCCCC,endColorstr=#70CCCCCC)\9; padding-bottom:3px;}

/*弹出层遮罩*/
.zheZhao{ background:#000; filter: Alpha(opacity=25); opacity: 0.25; top: 0; left: 0; width: 100%; height: 100%; position: fixed; _position: absolute; z-index: 9999;}
.zheZhao iframe{ width: 100%; height: 100%; background: none; filter: Alpha(opacity=0); opacity: 0;}

.con2{  -moz-box-shadow:0 0 5px #333; -webkit-box-shadow:0 0 5px #333; box-shadow:0 0 5px #333; /*filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=0, Color='#666666') progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=90, Color='#666666') progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=180, Color='#666666') progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=270, Color='#666666');这里的颜色要写6位数，写成#666不行*/
}

/*=========================================
	网站头部
=========================================
*/
.top{ height:36px; color:#fff; line-height:36px;}
.top span{ float:right;}
.top a{ color:#fff;}
.top2{ height:120px;}
.logo{ width:340px; float:left; height:120px; overflow:hidden; text-indent:-99999px;}
.logo_a{ display:block; height:120px; background:url(../images/logo.png) no-repeat 0px 14px;}
.top2R{ width:400px; float:right; height:70px; padding-right:22px; padding-top:50px;}
.soru{ height:33px; width:314px; border:1px solid #ccc; float:left; background:#fff url(../images/ss.gif) no-repeat 8px 6px; border-right:none;}
.fanhui{ width:114px; height:34px; background:#0E5C1A url(../images/pic_hf.gif) no-repeat left; padding-right:16px; line-height:34px; text-align:right; font-size:18px; font-family:"微软雅黑"; float:right; margin-top:36px;}
.fanhui a{ color:#fff;}

.soru_input{ width:270px; border:none; background:none; padding-left:44px; height:30px; line-height:30px; font-family:"微软雅黑"; font-size:14px; font-weight:bold;}
.soru_banu{ width:85px; float:left; height:35px; background:url(../images/ss_02.gif) no-repeat; border:none; cursor:pointer; overflow:hidden; text-indent:-99999px; font-size:0px; color:#FA966D;}
.nav{ height:40px; background:#5AA616;}
.nav_nei{ width:1000px; margin:0 auto; height:40px; position:relative;}
.natebia{ width:254px; height:52px; border-bottom:3px solid #3FA02E; background:#45B233; line-height:52px; text-align:center; position:absolute; left:0px; top:-11px; font-family:"微软雅黑"; font-size:24px;}
.natebia_a{ display:block; height:52px; color:#fff;}
.natebia_ji{ width:9px; height:55px; background:url(../images/pic_nav.gif) no-repeat; position:absolute; left:254px; top:-11px;}
.navR{ height:40px;}
.navR ul li{ list-style:none; float:right; font-family:"微软雅黑"; font-size:18px;  line-height:40px;}
.navR ul li a{ display:inline-block; width:115px; text-align:center; color:#fff; background:url(../images/pic_dian.gif) repeat-y;}
.navR_bg{ background:url(../images/pic_dian.gif) right repeat-y;}
.navR ul li a:hover,.navR ul li .xuanz{ background:#CFDB00;}
/*=========================================

	网站中部
=========================================
*/
.banner{ height:340px;}
.banL{ width:258px; float:left; height:auto; background:#fff url(../images/pic_tiao.gif) right repeat-y;}
.yuyue{ height:296px; background:url(../images/pic_bb.gif) no-repeat left bottom; padding-top:13px; padding-left:12px; text-align:center; padding-right:14px; font-size:14px; font-family:"微软雅黑"; font-weight:bold;}
.yuyue img{ width:232px; height:213px; display:block; margin-bottom:6px;}
.yuyue a{ color:#333;}
.yuyue_a{ display:inline-block; width:80px; height:20px; background:url(../images/yyue.gif) no-repeat; margin-top:6px;}
.banR{ width:736px; height:340px; float:right;}
.banR_pt{ height:274px; overflow:hidden; padding-top:9px;}
.banR_pt img{ width:736px; height:274px;}
.banR_anl{ height:14px; padding-top:14px; line-height:0px; padding-left:320px;}
.banR_anl a{ display:inline-block; width:11px; height:10px; background:url(../images/yuan_01.gif) no-repeat; margin-left:14px;}
.banR_anl a:hover, .banR_anl .xuanz{ background:url(../images/yuan_02.gif) no-repeat;}
.mian{ height:632px;}
.mianL{ width:732px; float:left; height:606px;}
.mianTop{ height:39px; background:#74B223 url(../images/pic_bg.gif) right no-repeat; padding-left:17px; line-height:39px; }
.mianT_span{ color:#fff; font-family:"微软雅黑"; font-size:20px; padding-right:168px;}
.mianTop a{ color:#fff;}
.mianText{ height:548px; background:#fff; padding-top:19px; padding-left:10px;}
.mianText ul li{ list-style:none; float:left; width:222px; text-align:center; font-family:"微软雅黑"; font-weight:bold; font-size:14px; padding-bottom:23px; padding-left:12px;}
.mianText ul li img{ width:208px; height:176px; display:block; padding:6px; border:1px solid #ccc; margin-bottom:12px;}
.mianText ul li a{ color:#333;}
.mianR{ width:253px; float:right; height:575px; padding-top:31px;}
.hezuo{ height:445px; background:#fff url(../images/pic_xia.gif) no-repeat bottom; padding-left:12px; padding-right:12px;}
.hezuo_top{ height:48px; border-bottom:1px solid #ccc; line-height:48px; line-height:48px; font-family:"微软雅黑"; font-size:20px; color:#333; padding-left:5px;}
.hezuo_text{ height:395px;}
.hezuo_text ul li{ list-style:none; height:60px; padding-left:11px; overflow:hidden; margin-bottom:4px; padding-top:11px;}
.hezuo_text ul li img{ width:206px; height:60px; display:block;}
.hezAd{ height:116px; margin-top:14px; position:relative;}
.hezL01{ width:126px; position:absolute; left:0px; top:0px; height:116px; background:url(../images/pic_sj01.png) no-repeat 2px 48px;}
.hezL02{ width:126px; position:absolute; right:0px; top:0px; height:116px; background:url(../images/pic_sj02.png) no-repeat 95px;}
.mian3{ height:246px; padding-bottom:12px;}
.mian3_top{ height:39px; background:#74B223 url(../images/pic_bg02.gif) right no-repeat; padding-left:10px; line-height:39px;}
.mian3_text{ height:207px; background:#fff; padding-left:16px;}
.gonggao{ width:230px; height:174px; background:#EAEBEF; float:left; margin-top:17px; padding-left:4px; padding-right:4px;}
.gonggao_top{ height:38px; line-height:38px; color:#666; font-weight:bold; font-size:14px; padding-left:16px;}
.gonggao_text{ height:120px; background:#fff; padding-left:16px; padding-top:10px; }
.gonggao_text ul li{ list-style-type:none; font-size:14px; line-height:28px;}
.gonggao_text ul li a{ color:#666;}
.xiangx{ width:352px; float:left; height:174px; margin-left:16px; padding-top:17px;}
.xiangx_top{ height:36px; border-bottom:1px solid #ccc; background:url(../images/pic_sj.gif) no-repeat 5px; line-height:36px; padding-left:23px; padding-right:14px;}
.xian_span{ font-size:14px; color:#666; font-weight:bold;}
.xiangx_text{ height:119px; padding-top:18px;}
.xian_img{ width:139px; height:112px; float:left; height:119px; margin-right:8px;}
.xian_img img{ width:139px; height:112px; display:block;}
.xianWZ{ width:205px; float:left; height:119px;}
.xianWZ ul li{ list-style-type:none; line-height:30px; font-size:14px; white-space:nowrap;}
/*=========================================
	网站底部
=========================================
*/
.fooer{ height:127px; border-top:2px solid #5AA616; background:#fff; line-height:24px; color:#666; padding-top:15px;}
.fooer_nei{ width:1000px; margin:0 auto; height:142px; text-align:center;}
/*=========================================
	网站商家页面
=========================================
*/



/*=========================================

	详细信息
=========================================
*/

.neiye{ height:auto; padding-bottom:18px;}
.neiyeL{ width:258px; float:left; height:auto;}
.noel{ float:none; margin-bottom:12px;}
.neiyeR{ width:732px; float:right; height:auto; padding-top:13px;}
.neiBT{ height:39px; background:#f60 url(../images/pic_tiao02.gif) right no-repeat; line-height:39px; padding-left:12px;}
.neiText{ height:auto; background:#fff;}
.neiIfino{ height:27px; padding-top:22px; border-bottom:1px solid #999; line-height:27px; font-size:14px; margin-left:20px; margin-right:20px;}
.neiIfino ul li{ list-style-type:none;}
.neiIfino ul li a{ display:inline-block; height:27px; padding-left:8px; padding-right:8px; text-align:center; margin-left:4px; margin-right:4px;}
.neiIfino ul li a:hover,.neiIfino ul li .xuanz{ background:#999; color:#fff; font-weight:bold;}
.haide{ height:auto; padding-left:22px; padding-right:22px; padding-top:16px; padding-bottom:30px;}
.haide_te{ height:160px;}
.haide_te img{ width:208px; height:142px; display:block; float:left; margin-right:17px;}
.haide_h1{ font-size:16px; color:#333; padding-bottom:10px; display:block; line-height:20px;}
.nawsTe{ height:auto; padding-top:5px;}
.nawsTe ul li{ list-style-type:none; height:45px; line-height:45px; border-bottom:1px solid #ccc; padding-left:10px; padding-right:15px; font-size:14px;}
.nawsTe ul li span{ float:right;}
.feiye{ height:40px; padding-top:30px; padding-right:20px; padding-bottom:20px;}
.feiye ul li{ list-style-type:none; float:right; height:26px; padding-left:10px;}
.feiye ul li a{ height:23px; border:1px solid #d3d3d3; display:inline-block; padding-left:8px; padding-right:9px; line-height:23px; color:#085C9B;}
.feiye ul li a:hover,.feiye ul li .xuanz{ color:#D4105A; background:#E9E9E9; font-weight:bold;}
.feiye_ingp{ width:32px; height:20px; border:1px solid #D3D3D3; text-align:center; line-height:20px;}
.feiye_ban{ width:50px; height:25px;}
.feiye ul li .feiye_hs{ background:#fff; color:#D9D9D9;}
.neiNt{ font-size:16px; color:#333; font-weight:bold;}
.tuwenli{ height:auto; padding-top:19px; padding-left:10px;}
.tuwenli ul li{ list-style:none; float:left; width:222px; text-align:center; font-family:"微软雅黑"; font-weight:bold; font-size:14px; padding-bottom:23px; padding-left:12px;}
.tuwenli ul li img{ width:208px; height:176px; display:block; padding:6px; border:1px solid #ccc; margin-bottom:12px;}
.tuwenli ul li a{ color:#333;}
.feedbck{ height:auto; padding:20px; background:#fff;} 
.feedb_top{ height:300px;}
.feedb_bate{ height:222px;}
.feedb_bate table{ width:100%; height:222px; border-collapse:collapse;}
.feedb_bate table td{ border:1px solid #EBEBEB;}
.feedb_td{ padding-right:20px; width:136px; text-align:right;}
.feedb_span{ font-family:"宋体"; font-size:14px; color:#f60; padding-left:15px;}
.feedb_input{ width:185px; height:26px; border:1px solid #ccc; line-height:26px; margin-left:13px;}
.feedb_tarea{ width:505px; height:105px; border:1px solid #ccc; margin-left:13px;}
.feedb_tetx{ height:75px; padding-left:172px;}
.feedb_annl{ width:101px; height:31px; background:#f60; text-align:center; line-height:31px; color:#fff; border:none; cursor:pointer; margin-top:12px;}
.feed_deta{ height:auto;}
.feed_xia{ height:auto; margin-bottom:12px; border:1px solid #EBEBEB; background:#FBF9F7;}
.feBt{ height:auto; padding-top:10px; padding-bottom:10px; line-height:24px; margin-left:15px; margin-right:15px; border-bottom:1px solid #EBEBEB;}
.feed_xtex{ height:auto; padding-top:10px; padding-bottom:10px; line-height:22px; padding-left:15px; padding-right:15px; color:#DA7B07;}

.lanmu{ height:auto; background:url(../images/pic_bb.gif) left bottom no-repeat; padding-bottom:35px; padding-left:13px; padding-right:19px; padding-top:5px;}
.lanmu ul li{ list-style-type:none; height:46px; line-height:46px; border-bottom:1px solid #ccc; font-size:16px; padding-left:52px;}
.lanmu ul li a:hover,.lanmu ul li .xuanz{ color:#f60; font-weight:bold;}
.dianhua{ height:auto; background:#fff url(../images/pic_fxa.gif) left bottom no-repeat; padding-left:14px; padding-right:14px; margin-top:12px; padding-bottom:30px;}
.dianhua_top{ height:48px; line-height:48px; border-bottom:1px solid #ccc; font-size:20px; font-family:"微软雅黑";}
.dianhua_text{ height:auto; padding-top:10px; line-height:20px; padding-left:5px; color:#666;}
.newsxx{ height:auto; line-height:24px; color:#666;}

.base{ height:auto; background:#fff; padding-top:15px; padding-bottom:30px;} 
.base img{ display:blockl; float:left; padding-left:18px; margin-bottom:15px;}
.outlook{ height:auto; background:#fff; padding:25px 15px 30px 15px; line-height:24px;}
.outlook img{  display:block; float:left; margin-right:15px;}
.rich{ height:auto; padding:15px 30px 40px 20px; background:#fff; line-height:24px;}
.rich img{ display:block; float:left; margin-right:15px; margin-bottom:10px;}
.product{ height:auto; background:#fff; padding:15px 20px 30px 15px;}
.product_top{ height:294px;}
.product_name{ width:396px; height:294px; float:left;}
.product_info{ width:270px; float:left; padding-left:24px; height:294px; line-height:26px; color:#666;}
.prod_bt{ font-size:18px; color:#333; font-weight:bold; padding-bottom:10px; padding-top:10px;}
.prod_jia,.prod_jian{ width:15px; height:15px; background:url(../images/pic_jia.gif) no-repeat; display:inline-block; margin-top:4px; float:left; margin-right:4px;}
.prod_tetx{ width:36px; height:20px; border:1px solid #ccc; text-align:center; line-height:20px; float:left; margin-right:4px;}
.prod_jian{ background:url(../images/pic_jian.gif) no-repeat;}
.prod_pad{ display:block; height:40px;}
.prod_dg{ width:136px; height:36px; background:url(../images/pic_dg.gif) no-repeat; display:block;}
.proTd{ height:auto; }
.proTd_top{ height:34px; border-bottom:1px solid #ccc; line-height:34px; font-weight:bold; font-size:14px; padding-left:12px;}
.proTd_yte{ height:auto; line-height:24px; font-size:14px; padding:12px 20px 20px 20px;}


/*=========================================
	登录
	
=========================================
*/
.denlu{ height:485px; border-top:4px solid #138022; background:#fff;}
.denlu_nei{ width:1000px; height:485px; margin:0 auto;}
.denluL{ width:610px; float:left; height:485px; overflow:hidden;}
.denluR{ width:370px; float:right; height:406px; margin-top:79px; background:url(../images/denl.gif) no-repeat;}
.den_bt{ height:40px; font-family:"微软雅黑"; font-size:20px; line-height:30px; padding-top:15px; padding-left:24px;}
.den_kang{ height:160px; padding-left:24px;}
.den_span{ font-size:14px; color:#333;}
.denl_input{ width:210px; height:28px; border:1px solid #ccc; line-height:28px; padding-left:10px; font-size:14px; color:#666;}
.deng_ann{ height:70px; padding-left: 72px; line-height:29px;}
.deng_a{ width:80px; height:29px; display:inline-block; margin-right:4px; background:url(../images/anl.gif) no-repeat; border:none; cursor:pointer; font-size:0px; line-height:0px; text-align:left; color:#FF8913; float:left;}
.zhece{ height:52px; padding-left:28px; font-size:14px; padding-top:10px;}
.zhece a{ color:#006AAA;}
.zhece_spa{ font-size:18px; font-family:"微软雅黑"; color:#666;}
.zhano{ height:45px; line-height:24px; padding-top:5px; padding-left:8px;}
.zhano img{ float:left; padding-top:2px; margin-left:5px;}