{extend name='base'/}
{block name='left'}
    <div class="neiyeL">
        <div class="banL noel">
            <div class="yuyue">
                <p><a href="#"><img src="__STATIC__/home/text/1.gif" width="232" height="213" alt="" />
                    中江瓜蒌</a></p>
                <p><a href="#" class="yuyue_a"></a></p>
            </div>
        </div>

    </div>
{/block}
{block name='right'}
<div class="neiyeR">
    <div class="cont">
        <div class="carImg"><img src="__STATIC__/home/images/car3.jpg" width="715" height="27" /></div>
        <div class="chenggong">
            <h3>下单成功</h3>
            <div class="zhifu">
                您选择的支付方式是 <strong class="red">{$pay_in.name}</strong><br />
                <a href="{:url('home/pay/index')}" -target="_blank" id="payin"><img src="__STATIC__/home/images/zhifu.png" width="133" height="41" /></a>
            </div><!--zhifu/-->
        </div><!--chenggong/-->
    </div><!--cont/-->
</div>
</div>
<script type="text/javascript" src="__STATIC__/admin/hui/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__STATIC__/admin/hui/lib/layer/2.1/layer.js"></script>
<script type="text/javascript" src="__STATIC__/home/js/common.js"></script>
<script type="text/javascript">

</script>
{/block}