{extend name='base'/}
{block name='left'}
    <div class="neiyeL">
        <div class="banL noel">
            <div class="yuyue">
                <p><a href="#"><img src="__STATIC__/home/text/1.gif" width="232" height="213" alt="" />
                    中江瓜蒌</a></p>
                <p><a href="#" class="yuyue_a"></a></p>
            </div>
        </div>
    </div>
{/block}
{block name='right'}
<div class="neiyeR">
    <div class="cont" style="font-size:12px">
        <div class="carImg"><img src="__STATIC__/home/images/car2.jpg" width="715" height="27" /></div>
        <h4 class="orderTitle">收货地址</h4>
        <table class="ord" style="font-size:12px">
            {foreach name='$address' item='vo'}
            <tr>
                <td width="30%">
                    <input type="radio" name="user" value="{$vo.id}"/> {$vo.recipients}
                </td>
                <td width="50%">
                    {$adrcity[$vo.city_id]},{$adrcity[$vo.se_city_id]},{$vo.address}
                </td>
                <td>
                    <span class="green upd">[修改]</span> | <span class="green add">[添加]</span>
                </td>
            </tr>
            {/foreach}
        </table><!--ord/-->
        <form action="{:url('home/order/addressadd',['out_number'=>$out_number])}" method="post">
        <div class="address" style="font-size:12px">
            <div class="addList">
                <label><span class="red">* </span>选择地区:</label>
                <select name="city_id" class="cityId" style="float:left">
                    <option>请选择省</option>
                    {foreach name='$citys' item='vo'}
                    <option value="{$vo.id}">{$vo.name}</option>
                    {/foreach}
                </select>
                 <span id="box" style="display:none;float:left">
				<select name="se_city_id" class="select se_city_id">

				</select>
                 </span>

            </div><!--addList-->
            <div class="addList">
                <label><span class="red">* </span>详细地址:</label>
                <input type="text" name="address" />
            </div><!--addList-->
            <div class="addList">
                <label><span class="red">* </span>邮政编码:</label>
                <input type="text" name="zcode" />
            </div><!--addList-->
            <div class="addList">
                <label><span class="red">* </span>收件人:</label>
                <input type="text" name="recipients" />
            </div><!--addList-->
            <div class="addList">
                <label><span class="red">* </span>手机号码:</label>
                <input type="text" name="mobile"/>
            </div><!--addList-->
            <div class="addList2">
                <input type="image" src="__STATIC__/home/images/queren.jpg" width="100" height="32" />
            </div><!--addList2/-->
        </div><!--address/-->
        </form>
        <h4 class="orderTitle">购物清单</h4>
        <table class="orderList" style="font-size:12px">
            <tr>
                <th width="20"></th>
                <th width="400">商品</th>
                <th width="100">单价</th>
                <th width="100">数量</th>
                <th width="100">总金额</th>
                <th width="40">操作</th>
            </tr>
            {foreach name='deals' item='vo'}
            <tr>
                <td><input type="checkbox" /></td>
                <td>
                    <dl>
                        <dt><a href="proinfo.html"><img src="{$vo.image}" width="85" height="85" /></a></dt>
                        <dd>{$vo.deal_name}<br /><span class="red">有货：</span>从上海出发</dd>
                        <div class="clears"></div>
                    </dl>
                </td>
                <td><strong class="red">￥{$vo.price}</strong></td>
                <td>
                    <div class="jia_jian">

                        <span style="line-height:2em">{$vo.count}</span>

                    </div>
                </td>
                <td><strong class="red">￥{$vo.price*$vo.count}</strong></td>
                <td><a href="#" class="green">收藏</a><br /><a href="{:url('home/order/status',['id'=>$vo.id,'status'=>-1])}" class="green">删除</a></td>
            </tr>
           {/foreach}
            <tr >
                <td colspan="6" ><div class="shanchu" style="float:right;font-size: 16px"><img src="__STATIC__/home/images/help4.jpg" />
                    <a href="{:url('deal/index',['out_number'=>$out_number])}">继续购买</a></div></td>
            </tr>
        </table><!--orderList/-->
        <h4 class="orderTitle">支付方式</h4>
        <ul class="zhiList">
            <li>网银支付-借记卡</li>
            <li>网银支付-信用卡</li>
            <li>财付通-余额支付</li>
            <li>支付宝-余额支付</li>
            <div class="clears"></div>
        </ul><!--zhiList/-->
        <div class="zhifufangshi">
            <ul class="yinhang">
                {foreach name='$pay' item='vo'}
                {if $vo.type eq 1}
                <li><input type="radio" name="pay" value="{$vo.id}" /><img src="{$vo.image}" /></li>
                {/if}
               {/foreach}
                <div class="clears"></div>
            </ul>
        </div><!--zhzhifufangshii/-->
        <div class="zhifufangshi">
            <ul class="yinhang">
                {foreach name='$pay' item='vo'}
                {if $vo.type eq 1}
                <li><input type="radio" name="pay" value="{$vo.id}"/><img src="{$vo.image}" /></li>
                {/if}
                {/foreach}

                <div class="clears"></div>
            </ul>
        </div><!--zhzhifufangshii/-->
        <div class="zhifufangshi">
            <ul class="yinhang">
                {foreach name='$pay' item='vo'}
                {if $vo.type eq 2}
                <li><input type="radio" name="pay" value="{$vo.id}"/><img src="{$vo.image}" /></li>
                {/if}
                {/foreach}
                <div class="clear"></div>
            </ul>
        </div><!--zhzhifufangshii/-->
        <div class="zhifufangshi">
            <ul class="yinhang">
                {foreach name='$pay' item='vo'}
                {if $vo.type eq 3}
                <li><input type="radio" name="pay" value="{$vo.id}" /><img src="{$vo.image}" /></li>
                {/if}
                {/foreach}
                <div class="clear"></div>
            </ul>
        </div><!--zhzhifufangshii/-->
        <table class="zongjia" align="right">
            <tr>
                <td width="120" align="left">商品总价：</td>
                <td width="60"><strong class="red">￥{$price.total_price}</strong></td>
            </tr>
          <!--  <tr>
                <td width="120" align="left">运费总额：</td>
                <td><strong class="red">+121.88</strong></td>
            </tr>
            <tr>
                <td width="120" align="left">促销优惠：</td>
                <td><strong class="red">+341.88</strong></td>
            </tr>
            <tr>
                <td width="120" align="left">合计：</td>
                <td><strong class="red">+2271.88</strong></td>
            </tr>-->
            <tr>
                <td colspan="2" style="height:50px;">
                    <input type="image" src="__STATIC__/home/images/tijao.png" width="142" height="32" id="pay">
                </td>
            </tr>
        </table><!--zongjia/-->
        <div class="clears"></div>
    </div><!--cont/-->
</div>
</div>
<script type="text/javascript" src="__STATIC__/admin/hui/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__STATIC__/admin/hui/lib/layer/2.1/layer.js"></script>
<script type="text/javascript" src="__STATIC__/home/js/common.js"></script>
<script type="text/javascript">
    var SCOPE = {
        'city_url' : '{:url("api/city/indexcity")}',
        'image_upload' : "{:url('api/Image/upload')}",
        'user_url' : "{:url('bis/Register/checkuser')}",
    };
    $(".cityId").change(function () {
        //alert('dfdasfdsf');
        var id=$(this).val();
        var postdata={
            'id':id
        };
        var url=SCOPE.city_url;
//alert(url);
        $(".se_city_id").nextAll().remove();
        $.post(url,postdata,function(result){

            var data=result.data;
            //alert(data);
            if(result.status==1)
            {
                var str_='';
                str_ +='<option value="">--请选择--</option>';
                $(data).each(function(i){
                    str_ += '<option value="'+data[i].id+'">'+data[i].name+'</option>';
                })
                $("#box").css('display','block');
                $(".se_city_id").append(str_);
            }else if(result.status==0)
            {
                $("#box").css('display','none');
                $(".se_city_id").html('');
            }else if(data == "")
            {
//alert('fjkjkjk');
                $("#box").css('display','none');
                $(".se_city_id").html('');

            }

        },'json')
    })

    $("#pay").click(function () {
        var address=$("input[name=user]:checked").val();
        if(!address)
        {
            alert("请配送地址");
            return false;
        }
        var pay=$("input[name=pay]:checked").val();
        if(!pay)
        {
            alert("请选择支付方式");
            return false;
        }
        var out_number="{$out_number}";
       // alert(out_number);
        var postdata={
            'address':address,
            'pay':pay,
            'out_number':out_number,
        };
        var url="{:url('home/order/ordersubmit')}";
        $.post(url,postdata,function (result) {
            location.href=result.url+'?out_number='+result.data;
        },'json');

    })

</script>
{/block}