{extend name='base'/}
{block name='content'}
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 系统管理 <span class="c-gray en">&gt;</span> 栏目管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="pd-20 text-c">
    <div class="text-c">
        <input type="text" name=""  placeholder="栏目名称、id" style="width:250px" class="input-text">
        <button name="" i class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
    </div>
    <div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
        <a class="btn btn-primary radius" onclick="category_add('添加城镇','{:url(\'add\')}','','400')" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加栏目</a></span>
        <span class="r">共有数据：<strong>54</strong> 条</span> </div>
    <div class="mt-20">
        <table class="table table-border table-bordered table-hover table-bg table-sort">
            <thead>
            <tr class="text-c">
                <th width="25"><input type="checkbox" name="" value=""></th>
                <th width="80">ID</th>
                <th>城镇名称</th>
                <th width="80">排序</th>
                <th>新增时间</th>
                <th>状态</th>
                <th width="100">操作</th>
            </tr>
            </thead>
            <tbody>
           {foreach name='city' item='vo'}
            <tr class="text-c listorder">
                <td><input type="checkbox" name="" value=""></td>
                <td>{$vo.id}</td>
                <td class="text-l">{$vo.name}</td>
                <td><input type="text" value="{$vo.listorder}" d-id="{$vo.id}" style="width:30px"/></td>
                <td>{$vo.create_time|date="y-m-d",intval(###)}</td>
                <td ><a href="{:url('city/status',['id'=>$vo.id,'status'=>$vo.status==1?0:1])}">{$vo.status|status}</a></td>
                <td class="f-14">
                    <a title="查看" href="{:url(\'city/index\',[\'parent_id\'=>$vo.id,])}" style="text-decoration:none">
                        <i class="Hui-iconfont">&#xe66c;</i></a>
                    <a title="编辑" href="javascript:;" onclick="category_edit('城镇编辑','{:url(\'city/edit\',[\'id\'=>$vo.id,])}','1','700','480')" style="text-decoration:none">
                    <i class="Hui-iconfont">&#xe6df;</i></a>
                    <a title="删除" href="javascript:;" onclick="category_del('{:url(\'city/status\',[\'id\'=>$vo.id,\'status\'=>-1])}')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
            </tr>
              {/foreach}
            </tbody>
        </table>
</div>
<div class="tp5-o2o pagination">{$city->render()}</div>
<script type="text/javascript">
    var SCOPE={
        'listorder_url':'{:url("city/listorder")}'
    }
</script>
{/block}